<div data-wc-header>BlackBerry Hub</div>
<div class="white" data-wc-scroll>
    <ul class="messages">
        <li class="date">
            Monday, April 15, 2013
        </li>
        <li class="email">
            <span class="sender">Dr. Stephen Colbert</span>
            <span class="subject">I have a bear problem</span>
        </li>
        <li class="notify">
            <span class="sender">Web Cascades</span>
            <span class="subject">You are using awesome web technology</span>
        </li>
        <li class="sms">
            <span class="sender">Broseph Goebbels</span>
            <span class="subject">Let's grab a beer, or two, or three, or four</span>
        </li>
        <li class="email">
            <span class="sender">HNSummaries</span>
            <span class="subject">[hacker news] April 15 Summary for Wes</span>
        </li>
        <li class="date">
            Sunday, April 14, 2013
        </li>
        <li class="email-att">
            <span class="sender">Anna Kendrick</span>
            <span class="subject">Fw: Cease and Desist</span>
        </li>
        <li class="sent">
            <span class="sender">Anna Kendrick</span>
            <span class="subject">I love you</span>
        </li>
        <li class="email">
            <span class="sender">Seth MacFarlane (Twitter)</span>
            <span class="subject">Seth MacFarlane (@SethMacFarlane) is now following you</span>
        </li>
        <li class="email">
            <span class="sender">Thorsten Heins</span>
            <span class="subject">Re: Ideas</span>
        </li>
        <li class="email">
            <span class="sender">William H. Gates</span>
            <span class="subject">You forgot your cheque.. I left it on the gold bars on your desk</span>
        </li>
        <li class="email">
            <span class="sender">Pinterest</span>
            <span class="subject">Sammy Sosa wants to share a pin with you</span>
        </li>
    </ul>
</div>
<div data-wc-footer="Hub" data-ng-controller="Footer">
    <div class="webCascadesTabs">
        <a data-ng-href="{{ hashprefix }}about" class="icon-info">About</a>
    </div>
</div>