<div data-wc-header>About Web Cascades</div>
<div class="white" data-wc-scroll>
    <div class="page">
        <p><b>Cascades for the Web</b></p>
        
        <p>Web Cascades is a project born out of belief in the future of web standards and a love for the mobile paradigm BlackBerry introduced with their slate of BB10 phones, called Cascades.</p>
		
		<p><b>OK, but what is this?</b></p>
		<p>You're looking at an early demo of Web Cascades (WC). WC blends screen stack logic that emulates a native app with a UI component layer to form a basis for developing mobile apps with web standards.</p>
        
        <p><b>The Goal</b></p>
        
        <p>This project hopes to prove that the native experience users yearn for can be reproduced with today's HTML, CSS and JS technology.</p>
    
        <p><b>Under the Hood</b></p>
        
        <p>WC has been built with Webkit in mind and tested exclusively with the BB10 browser and the WebWorks framework. To view this demo in all its glory, you should do so on a Z10 device or simulator. The demo relies on your OS having BlackBerry's <i>Slate Pro</i> font installed, otherwise you'll get an unintended sans-serif default.</p>
		
        <p><b>Thanks</b> to these fine folks for the awesome tools that made this easy:</p>
        
        <ul>
            <li>Angular.js (Google)</li>
            <li>Brackets (Adobe)</li>
            <li>iScroll 4 (Matteo Spinelli)</li>
            <li>Less CSS (Alexis Sellier)</li>
			<li>WebWorks / Ripple (BlackBerry)</li>
            <li>WinLess (Mark Lagendijk)</li>
        </ul>
        
        <p><b>Super Alpha Beta</b></p>
        
        <p>This is just an initial taste of what's in store. I plan to  include more of the behaviours & components users have come to know and love as well as introduce a stable API with the first "versioned" release.</p>
        
        <p><b>Send Your Feedback</b></p>
        
        <p>In the meantime, send me your feedback - it helps keep me going! <a href="http://twitter.com/sterlingwes" target="_blank">@SterlingWes</a></p>
    </div>    
</div>
<div data-wc-footer="back"></div>